body{
    background-image: url("metrotlo.jpg");
}
#naglowek {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: "Rubik Mono One";
    color: black;
}
#loginform{
    background-color: darkgreen;
    width: 400px;
    height: 300px;
    position: center;
    text-align: center;
    bottom: 50px;
}

#logging{
    padding-top: 45px;
}
.register{
    position: center;
    text-align: center;

}
