.card-text{
    width: 300px;
}
.card{
    float: left;
}
body{
    background-image: url("metrotlo.jpg");
}
.row{
    color: crimson;
}
#naglowek {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family: "Rubik Mono One";
    color: black;

}
.card-title{
    font-size: 25px;
}
.card{
    left: 140px;
}
#slider{
    height: 60%;
    width: 60%;
    left: 240px;
}
.desk, .mob{
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
    padding: 10px;
}
li.menu{
    display: inline;
}
a{
    text-decoration: none;

}
a:link{
    color: azure;
}
a:visited{
    color: aliceblue;
}
a:hover{
    color: mediumseagreen;
}
nav{
    background: olive;
}
.btnlogin{
    background-color: darkseagreen;
    font-size: 13px;
    position: relative;
    float: right;
}
.btnlogout{
    background-color: darkseagreen;
    font-size: 13px;
    position: relative;
    float: right;
}

.footer{
    text-align: center;
    position: bottom;
    bottom: 3px;
    left: 0px;
    right: 0;
    clear: left;
    height: 30px;
    color: white;
}

.logintext{
    color: aliceblue;
    position: relative;
    float: left;

}

p.alert{
    color: crimson;
    font-weight: bold;
}

.ouniwersum{
    text-align: center;
    position: fixed;
}

p.zalog{
    color: aliceblue;
}

/* TODO - hamburger menu, make working for mobile*/
nav.mob, .hambbtn{
    display: none;
}
@media screen and (max-width: 700px) {
    nav.desk{
        display: none;
    }
    nav.mob,
    .hambbtn{
        display: block;
    }
.hambbtn{
    position: relative;
}

    nav.mob{
        display: block;
    }
    .hambbtn .fa-bars,
    .hambbtn .fa-times{
        position: fixed;
        right: 25px;
        top: 15px;
        font-size: 35px;
        color: #fff;
        cursor: pointer;

    }
    .mob ul{
        margin-top: 60px;
        background-color: olive;
        display:none;
    }
    .mob li{
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        cursor: pointer;

    }
}